.continainer-button{
  padding-bottom: 10px;
}

.todo-button {
  padding: 8px 82px;
  font-size: 18px;
  background-color: goldenrod;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: auto;
}

.todo-button:hover {
  background-color: gold;
}
