.todo-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item {
  display: flex;
  background-color: beige;
  border: 1px solid #ccc;
  margin: 8px 0;
  padding: 8px;
  color: black;
  width: 400px;
}

.icon-check {
  cursor: pointer;
  margin: 0;
  color: gold;
}

.icon-check-active {
  cursor: pointer;
  margin: 0;
  color: #4bf24b;
}

.todo-item-text {
  margin: 0;
  padding: 0 8px;
  flex: 1; 
}

.todo-item-text-completed {
  margin: 0;
  padding: 0 8px;
  text-decoration: line-through;
}

.icon-delete {
  cursor: pointer;
  margin: 0;
  size: 20px;
  color: tomato;
}
:hover.icon-delete{
  color: red;
  font-size: 24px;
}

